# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs

Windows IoT Core/ARM
Windows Desktop/HologramCPPSDK/x64
Windows Desktop/x64
Windows Desktop/Debug
Windows Desktop/HologramCPPSDK/Debug
Windows IoT Core/Win10IoT_Test/Debug
*.DS_Store
Windows Desktop/x64
Windows IoT Core/ARM
Linux/obj
Linux/bin