# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs

Windows IoT Core/Python/Python/bin
Windows IoT Core/Python/Python/obj
Windows IoT Core/Python/Python/PythonHome
Windows IoT Core/CPP/Win10IoT_Test/ARM
Windows IoT Core/Python/Python/Python_TemporaryKey.pfx
Windows IoT Core/CPP/ARM
Windows Desktop/CPP/HologramCPPSDK/x64
Windows Desktop/CPP/x64
Windows Desktop/CPP/Debug
Windows Desktop/CPP/HologramCPPSDK/Debug
Windows IoT Core/CPP/Win10IoT_Test/Debug
*.DS_Store
CPP/Windows Desktop/x64
